body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    background-image: url('Individual-assignment-IMD-318/image/photo_6307458258327160265_y.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: white;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #f39c12;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #eaeaea;
}

img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

